@mixin setDivMiddle($width) {
  @media screen and (max-width:1000px) {
    width: 100vw;
  }
  @media screen and (min-width:1001px) {
    width: $width;
  }
  height: 100%;
  margin: 0 auto;
}

@mixin fontCenter($allHeight) {
  height: $allHeight;
  line-height: $allHeight;
  text-align: center;
}